html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
img {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


html {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    font-family: 'EB Garamond', sans-serif;
    color: #fff;
    font-weight: 500;
    box-sizing: border-box;
    font-size: 15px;
    padding: 0;
    margin: 0;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

@media (max-width: 700px) {

}




a {
    text-decoration: none;
}

button {
    font-family: 'EB Garamond', sans-serif;
    background-color: transparent;
    border: none;
    color: #fff;
}



@media (max-width: 700px) {
    .container {
        max-width: 320px;
        margin: 0 auto;

    }

    .small-container {
        max-width: 320px;
        margin: 0 auto;
    }

}

@media (min-width: 700px) {
    .container {
        max-width: 1100px;
        margin: 0 auto;

    }

    .small-container {
        max-width: 1020px;
        margin: 0 auto;
    }

}


.graphics__container {
    width: 100%
}

@media (min-width: 700px) {
    .intro {
        background-color: rgba(248, 243, 243, 0.72);
        color: #000;
        padding-top: 30px;
        padding-bottom: 40px;
    }

    .intro h2 {
        font-size: 40px;
        padding-bottom: 80px;
    }

    .intro__logos {
        display: flex;
        justify-content: space-around;
    }

    .intro__logo-text {
        padding-bottom: 40px;
        font-size: 30px;
    }

    .intro__logo-img {
        margin: 0 auto;
        width: 260px;
        height: 260px;
    }

    .intro__logo-img img {
        width: 260px;
        height: 260px;
    }
}

@media (max-width: 700px) {
    .intro {
        background-color: rgba(248, 243, 243, 0.72);
        color: #000;
        padding-top: 30px;
        padding-bottom: 40px;
    }

    .intro h2 {
        font-size: 25px;
        padding-bottom: 50px;
    }

    .intro__logos {
        display: flex;
        justify-content: space-around;
    }

    .intro__logo-text {
        padding-bottom: 15px;
        font-size: 16px;
    }

    .intro__logo-img {
        margin: 0 auto;
        width: 100px;
        height: 100px;
    }

    .intro__logo-img img {
        width: 100px;
        height: 100px;
    }
}

@media (max-width: 700px) {
    .dunie__logo {
        margin: 0 auto;
        margin-top: 20px;
        width: 100px;
        height: 100px;
    }

    .dunie__logo img {
        width: 100px;
        height: 100px;
    }
}

@media (min-width: 700px) {
    .dunie__logo {
        margin: 0 auto;
        width: 250px;
        height: 250px;
    }

    .dunie__logo img {
        width: 250px;
        height: 250px;
    }
    .header__text {
        font-size: 26px;
    }


}

@media (max-width: 700px) {
    .header__banner {
        display: none;
        background-image: url(../img/header-banner.png);
        background-size: cover;
        width: 100%;
        background-repeat: no-repeat;
        height: 366px;
        margin-bottom: 20px;
        background-position: -185px;
    }

    .header__text {
        font-size: 15px;
    }

    header {
        background-color: #328692;
        padding-top: 20px;
        padding-bottom: 30px;
        margin-bottom: 50px;
    }
}



@media (min-width: 700px) {

    .header__banner {
        background-image: url(../img/header-banner.png);
        background-size: cover;
        width: 100%;
        background-repeat: no-repeat;
        height: 550px;
    }

    header {
        background-color: #328692;
        padding-top: 50px;
        padding-bottom: 107px;
        margin-bottom: 120px;
    }

}


header h1 {
    margin-bottom: 58px;
}


@media (max-width: 700px) {
    nav {
        display: none;
    }
}

@media (min-width: 700px) {
    nav {
        margin-bottom: 100px;
        display: flex;
        justify-content: space-between;
    }
}



nav ul {
    display: flex;
}

.nav__left li {
    margin-right: 61px;
}

.nav__left li:last-child {
    margin-right: 0;
}

.nav__right li {
    margin-left: 61px;
}

.nav__right li:first-child {
    margin-left: 0;
}

@media (max-width: 700px) {
    h1 {
        font-size: 36px;
        font-weight: 700;
    }

    header h1 {
        margin-bottom: 20px;
    }

    h2 {
        font-size: 20px;
        font-weight: 700;
    }

    h3 {
        font-size: 12px;
        font-weight: 500;
    }

}

@media (min-width: 700px) {
    h1 {
        font-size: 64px;
        font-weight: 700;
    }

    h2 {
        font-size: 40px;
        font-weight: 700;
    }

    h3 {
        font-size: 24px;
    }

    main {
        color: #000;
        margin-bottom: 100px;
    }
}










@media (max-width: 700px) {
    main {
        color: #000;
        margin-bottom: 30px;
    }

    main h2 {
        margin-bottom: 30px;
    }

    .goals__item {
        margin-bottom: 0px;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .goals__item img {
        max-width: 290px;
        margin: 0 auto;
    }

    .goals__text {
        font-size: 14px;
        margin-top: 32px;
    }
}


@media (min-width: 700px) {
    main h2 {
        margin-bottom: 64px;
    }

    .goals__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .goals__item {
        margin-bottom: 83px;
        width: 493px;
    }

    .goals__text {
        font-size: 24px;
        margin-top: 32px;
    }

}

@media (max-width: 700px) {
    .rules {
        color: #000;
        margin-bottom: 50px;

    }

    .rules h2 {
        margin-bottom: 30px;
    }

    .rules__content-image {
        margin-right: 20px;
    }

    .rules__content-image {
        background-image: url(../img/rules-banner.png);
        background-size: cover;
        background-repeat: no-repeat;
        width: 165px;
        height: 470px;
        background-position: -55px;
    }

    .rules__content-text {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: space-between;
    }

    .rules__content-item {
        flex-grow: 1;
    }

    .rules__text-title {
        padding-bottom: 12px;

    }

    .rules__text-description {
        font-size: 12px;
        font-weight: 400;
    }

    .rules__content-text {
        width: 150px;
    }
}

.rules__content {
    display: flex;
    justify-content: space-between;
}

@media (min-width: 700px) {
    .rules {
        color: #000;
        margin-bottom: 166px;
    }

    .rules h2 {
        margin-bottom: 70px;
    }


    .rules__content-image {
        background-image: url(../img/rules-banner.png);
        background-size: cover;
        background-repeat: no-repeat;
        min-width: 533px;
        height: 792px;
        margin-right: 40px;
    }

    .rules__content-text {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: space-between;
    }

    .rules__content-item {
        flex-grow: 1;
    }

    .rules__text-title {
        padding-bottom: 32px;

    }

    .rules__text-description {
        font-size: 24px;
        font-weight: 400;
    }
}


@media (max-width: 700px) {
    .iframe{
        max-width: 300px;
    }
    .info__image {
        display: none;
    }

    .info {
        background-image: url(../img/info-banner_mobile.png);
        height: 300px;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .cvb-business {
        background-image: url(../img/info-cvb-mobile.png);
        height: 870px;
        background-size: cover;
        background-repeat: no-repeat;
    }
    

    .info-main {
        background-image: url(../img/info-banner_mobile.png);
        height: 190px;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .global{
        background-image: url(../img/global_bg.png);
        height: 450px;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .info__content {
        display: block;
    }

    .info__content-text {
        padding-top: 25px;
    }

    .info__content-text h2 {
        margin-bottom: 25px;
        width: 245px;
    }

    .info__content-text p {
        margin-top: 24px;
        width: 300px;
        font-weight: 300;
        font-size: 13px;
    }

    .cvb-business-text p{
        font-size: 15px;
    }
    .global-title{
        font-size: 20px;
    }
}

@media (min-width: 700px) {
    .iframe{
        width: 900px;
        height: 500px;
    }
    .whoami{
        height: 920px !important;
    }
    .info {
        background-color: #328692;
        position: relative;
        height: 680px;
        overflow: hidden;
    }

    .global{
        background-color: #328692;
        position: relative;
        height: 750px;
        overflow: hidden;
    }

    .cvb-business {
        background-image: url(../img/cvb_business.png);
        height: 1070px;
        background-size: cover;
        background-repeat: no-repeat;
    }


    .cvb-business__content {
        display: block;
    }

    .info__content {
        display: flex;
        justify-content: space-between;
    }

    .info__content-text {
        margin-top: 100px;
        width: 550px;
    }

    .cvb-business-text {
        margin-top: 85px;
        width: 800px;
    }

    .info__content-text h2 {
        margin-bottom: 64px;
        width: 500px;
    }

    .cvb-business-text h2 {
        margin-bottom: 40px;
        width: 700px;
    }

    .info__content-text p {
        margin-bottom: 20px;
        font-weight: 400;
        font-size: 27px;
    }
    .need__content-text{
        width: 530px;
    }
    .need__content-text p{
        font-size: 23px;
    }

    .cvb-business-text p {
        margin-bottom: 27px;
        font-weight: 400;
        font-size: 24px;
    }

    .info__image {
        position: absolute;
        right: 0;
        top: 0;
    }

    .whoami_image img{
        height: 807px; /* чтобы текст не вылезал*/
    }
    .whoami_content-text{
        margin-top: 50px;
    }
    
}

@media (min-width: 700px) {
    .second_info{
        height: 820px;
    }
    .problems {
        background-image: url(../img/problems.png);
        background-size: cover;
        background-repeat: no-repeat;
        padding-top: 130px;

    }
    

    .problems h2 {

        width: 810px;
    }

    .problems__items {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 140px;
        justify-content: space-between;
        margin-top: 95px;
    }

    .problems__item {
        width: 520px;
        margin-bottom: 64px;
    }

    .problems__item-title {
        margin-bottom: 32px;
        font-weight: 700;
    }

    .problems__item-description {
        font-size: 24px;
        font-weight: 400;
    }
    .cvb {
        color: #000;
    }
}

@media (max-width: 700px) {
    .problems {
        background-image: url(../img/problems-banner_mobile.png);
        background-size: cover;
        background-repeat: no-repeat;
        padding-top: 39px;
        height: 870px;
    }

    .item3 {
        display: none;
    }

    .problems h2 {
        font-size: 18px;
        width: 247px;
    }

    .problems__items {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 20px;
        justify-content: space-between;
        margin-top: 20px;
    }

    .problems__item {
        width: 145px;
        margin-bottom: 15px;
    }

    .problems__item-title {
        margin-bottom: 12px;
        font-weight: 700;
        font-size: 18px;
    }
    .problems__item-title h3{
        font-size: 18px;
    }

    .problems__item-description {
        font-size: 15px;
        font-weight: 300;
    }
}


@media (max-width: 700px) {
    .second_image {
        display: none;
    }

    .second_info {
        background-image: url(../img/info-banner2_mobile.png);
        height: 470px;
        background-size: cover;
        background-repeat: no-repeat;
    }


    .second_content-text {

        width: 266px;
    }


    .second_content-text {
        margin-left: 0;

    }

    .second_content-text p {
        font-size: 14px;
        font-weight: 300;
    }
    .global_content-text p {
        font-size: 15px;
        font-weight: 300;
    }
}

@media (min-width: 700px) {
    .second_image {
        left: -77px;
    }


    .second_content-text {
        margin-left: auto;
        margin-right: 60px;
        width: 610px;

    }

    .second__content-text-title {
        font-size: 30px;
        font-weight: 700;
        padding-bottom: 20px;
    }

    .second_content-text {
        margin-left: 450px;
    }

    .second_content-text p {
        font-size: 27px;
        font-weight: 400;
    }
    .whoami_content-text p{
        font-size: 21px;
    }

    .spendings_content-text {
        margin-top: 40px;
        margin-right: 0;

    }

}


@media (max-width: 700px) {
    .cvb {
        background-image: url(../img/cvb_bg.png);
        background-size: cover;
        background-repeat: no-repeat;
        padding-top: 40px;
        color: #000;
    }

    .cvb h2 {
        margin-bottom: 15px;
    }

    .cvb h3 {
        font-weight: 700;
        font-size: 15px;
    }
    .advantages_cvb {
        background-image: url(../img/advantages_cvb.png);
        background-size: cover;
        background-repeat: no-repeat;
        padding-top: 40px;
        color: #000;
    }
    .look {
        background-image: url(../img/look.png);
        background-size: cover;
        background-repeat: no-repeat;
        padding-top: 40px;
    }

    .thanks {
        background-image: url(../img/thanks.png);
        background-size: cover;
        background-repeat: no-repeat;
        padding-top: 40px;
    }

    .future {
        background-image: url(../img/future_bg.png);
        background-size: cover;
        background-repeat: no-repeat;
        padding-top: 40px;
    }

    .look__content {
        margin-top: 20px;
        padding-bottom: 30px;
    }

    .look h2 {
        font-size: 20px;
    }

    .look__content-text p {
        margin-bottom: 10px;
        font-size: 15px;
        font-weight: 400;
    }

    .thanks__content-text p {
        font-size: 15px;
    }

    .look__content-subtitle {
        margin-top: 24px;
        font-weight: 700;
        font-size: 15px;
    }

    span {
        font-weight: 700;
    }

}

@media (min-width: 700px) {
    .cvb {
        background-image: url(../img/cvb_bg.png);
        background-size: cover;
        background-repeat: no-repeat;
        padding-top: 100px;
    }

    

    .look {
        background-image: url(../img/look.png);
        background-size: cover;
        background-repeat: no-repeat;
        padding-top: 150px;
    }

    .thanks {
        background-image: url(../img/thanks.png);
        background-size: cover;
        background-repeat: no-repeat;
        padding-top: 150px;
    }

    .look__content {
        margin-top: 64px;
        padding-bottom: 140px;
    }

    .look__content-text p {
        margin-bottom: 30px;
        font-size: 28px;
        font-weight: 400;
    }
    .look__content-text li{
        font-size: 28px;
    }

    .look__content-subtitle {
        margin-top: 90px;
        font-weight: 700;
        font-size: 32px;
    }

    span {
        font-weight: 700;
    }

}


@media (max-width: 700px) {
    .need {
        height: 650px;
        margin-bottom: 35px;
        background-image: url(../img/need_mobile.png);
        background-size: cover;
        background-repeat: no-repeat;
    }

    .need .info__content-text {
        padding-top: 20px;
    }

    .need__content-subtitle {
        margin-top: 20px;
    }

    .newcities__title {
        font-size: 16px;
    }

    .newcities__content-text p {
        font-size: 13px !important;
        font-weight: 400;
        margin-bottom: 10px;
    }

    .newcities__content-subtitle {
        font-weight: 700 !important;
        margin-top: 25px;
    }

    .newcities-image {
        background-image: url(../img/cities-banner.png);
        height: 370px;
        width: 165px;
    }
}

@media (min-width: 700px) {
    .need {
        height: 1140px;
        margin-bottom: 150px;
    }

    .need__content-subtitle {
        margin-top: 60px;
    }

    .newcities__title {
        font-size: 48px;
    }

    .newcities__content-text p {
        font-size: 32px;
        font-weight: 400;
        margin-bottom: 30px;
    }

    .newcities__content-subtitle {
        font-weight: 500 !important;
        margin-top: 95px;
        margin-bottom: 0 !important;
    }

    .newcities-image {
        background-image: url(../img/cities-banner.png);

    }
}


@media (max-width: 700px) {
    .knowcansay {
        background-image: url(../img/know-can-say.png);
        background-size: cover;
        background-repeat: no-repeat;
        padding-top: 29px;
        padding-bottom: 29px;
    }
    .phrase {
        background-image: url(../img/phrase.png);
    }

    .nopolitics {
        background-image: url(../img/nopolitics.png);
        background-size: cover;
        background-repeat: no-repeat;
        padding-top: 29px;
        padding-bottom: 29px;
    }

    .nopolitics__content video {
        width: 310px;
        /* Установите желаемую ширину */
        display: block;
        margin: 0 auto;
        /* Центрируем видео по горизонтали */
        margin-top: 20px;
    }

    .video__content {
        text-align: left !important;
        font-size: 15px;
        color: #000;
    }

    .video__content p {
        margin-bottom: 15px;

    }

    .video__content p span {
        font-weight: 700;
    }

    .video__content h2 span {
        font-weight: 700;
    }

    .knowcansay h2 {
        font-weight: 400;
        font-size: 16px;
    }
    .knowcansay h2 span{
        font-weight: 700;
    }

    .knowcansay__content {
        width: 300px;
        text-align: center;
        margin: 0 auto;
    }
}

@media (min-width: 700px) {
    .knowcansay {
        background-image: url(../img/know-can-say.png);
        background-size: cover;
        background-repeat: no-repeat;
        padding-top: 110px;
        padding-bottom: 90px;
    }

    .nopolitics {
        background-image: url(../img/nopolitics.png);
        background-size: cover;
        background-repeat: no-repeat;
        padding-top: 90px;
        padding-bottom: 80px;
    }

    .nopolitics__content video {
        width: 800px;
        /* Установите желаемую ширину */
        display: block;
        margin: 0 auto;
        /* Центрируем видео по горизонтали */
        margin-top: 30px;
    }

    .video__content {
        text-align: left !important;
        font-size: 25px;
    }

    .video__content p {
        margin-bottom: 15px;

    }

    .video__content p span {
        font-weight: 700;
    }

    .video__content h2 span {
        font-weight: 700;
    }

    .knowcansay__content {
        width: 900px;
        text-align: center;
        margin: 0 auto;
    }

    .nopolitics__content h2 {

        font-size: 30px;
        font-weight: 500;
    }
}



@media (max-width: 700px) {
    .onlyyou__content-text {
        font-size: 16px;
        width: 240px;
        padding-top: 43px;
    }

    .onlyyou {
        height: 189px;
        background-image: url(../img/onlyyou_mobile.png)
    }
}

@media (min-width: 700px) {
    .onlyyou__content-text {
        font-size: 48px;
        margin-left: auto;
        margin-right: 0;
        margin-top: 90px;
    }

    .onlyyou {
        height: 617px;
    }
}

@media (max-width: 700px) {
    .press {
        background-image: url(../img/press-back.png);
        background-size: cover;
        background-repeat: no-repeat;
        padding-top: 36px;
        padding-bottom: 40px;
    }

    .press h2 {
        margin-bottom: 24px;
        font-size: 20px;
    }

    .press__text {
        font-size: 13px;
        font-weight: 300;
    }


    .press__text p {
        margin-bottom: 15px;
    }

    .whoami {
        background-image: url(../img/whoami_mobile.png);
        background-size: cover;
        background-repeat: no-repeat;
        height: 710px;
    }
}

@media (min-width: 700px) {
    .press {
        background-image: url(../img/press-back.png);
        background-size: cover;
        background-repeat: no-repeat;
        padding-top: 130px;
        padding-bottom: 180px;
    }

    .press h2 {
        margin-bottom: 60px;
    }

    .press__text {
        font-size: 28px;
        font-weight: 400;
    }


    .press__text p {
        margin-bottom: 35px;
    }
}


@media (max-width: 700px) {
    .footer__form {
        background-color: #328692;
        border-radius: 10px;
        align-items: center;
        margin: 0 auto;
        margin-bottom: 30px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 25px;
        width: 290px;

    }

    .form__text {
        font-size: 20px;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 30px;

    }

    .form__text span {
        font-weight: 700;
    }

    .form__form {
        background-color: #fff;
        border-radius: 4px;



    }

    .form__form form {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 50px;

    }

    form button {
        background-color: #0081FE;
        padding: 9px 5px;
        color: #fff;
        font-size: 13px;
        margin-right: 8px;
        width: 80px;
        border-radius: 5px;

    }

    form input {
        color: #000;
        width: 155px;
        border: none;
        border-radius: 4px;
        padding-left: 11px;
        outline: none;
        font-size: 14px;

    }

    form input::placeholder {
        color: #2B3D51;
        font-size: 16px;
    }
}

@media (min-width: 700px) {
    .footer__form {
        display: flex;
        justify-content: space-between;
        height: 200px;
        background-color: #328692;
        border-radius: 10px;
        padding-left: 78px;
        padding-right: 103px;
        align-items: center;
        margin-bottom: 55px;
    }

    .form__text {
        font-size: 32px;

    }

    .form__text span {
        font-weight: 700;
    }

    .form__form {
        width: 400px;
        background-color: #fff;
        border-radius: 4px;



    }

    .form__form form {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 73px;

    }

    form button {
        background-color: #0081FE;
        padding: 14px 29px;
        color: #fff;
        font-size: 16px;
        margin-right: 8px;
        width: 145px;
        border-radius: 5px;

    }

    form input {
        color: #000;
        width: 205px;
        border: none;
        border-radius: 4px;
        padding-left: 10px;
        outline: none;
        font-size: 18px;

    }

    form input::placeholder {
        color: #2B3D51;
        font-size: 16px;
    }
}

@media (max-width: 700px) {
    .graphics img {
        width: 100%;
        height: 250px;
    }
}

@media (min-width: 700px) {
    .graphics {
        display: none;
    }
}



@media (min-width: 700px) {
    .footer__contacts {
        display: flex;
        justify-content: space-between;
        color: #000;
        margin-bottom: 50px;
    }

    .footer__right ul {
        display: flex;
    }

    .footer__right ul li {
        margin-left: 40px;
    }

    .footer__bottom {
        display: flex;
        justify-content: space-between;
        padding-top: 45px;
        margin-bottom: 100px;
        border-top: 1px solid #2B3D51;
        font-size: 15px;
        color: #0A142F;
    }

    .footer__policy ul {
        display: flex;
    }

    .footer__policy ul li {
        margin-left: 40px;
    }

    .footer__policy ul li a {
        font-size: 15px;
        color: #0A142F;
    }
}

@media (min-width: 700px) {
    .future {
        position: relative;
        margin-bottom: 150px;
        padding-top: 60px;
    }

    .future__content {
        font-size: 26px;
        font-weight: 400;
        padding-bottom: 60px;

    }

    .future__image {
        position: absolute;
        top: 0;
        right: 0;

    }


}

@media (max-width: 700px) {
    .future {

        margin-bottom: 70px;
    }

    .future__text-title h2 {
        font-size: 20px;
    }

    .future__image {
        position: absolute;
        top: 32px;
        right: 0;

    }

    .future__image img {
        width: 203px;
        height: 368px;
    }

    .footer__policy {
        margin-bottom: 15px;
        font-size: 10px;
    }

    .footer__policy a {
        font-size: 20px;
    }

    .footer__contacts {
        display: flex;
        justify-content: space-between;
        color: #000;
        margin-bottom: 20px;
    }

    .footer__left {
        text-align: center;
        width: 100%;
    }

    .footer__right ul {
        display: flex;
    }

    .footer__right ul li {
        margin-left: 10px;
    }

    .footer__right ul li img {
        width: 10px;
        height: 10px;
    }

    .footer__bottom {
        text-align: center;
        padding-top: 25px;
        margin-bottom: 25px;
        border-top: 1px solid #2B3D51;
        color: #0A142F;
    }

    .footer__copyright {
        font-size: 15px;
        margin-bottom: 20px;
    }

    .footer__copyright a {
        font-size: 15px;
    }




    .footer__policy ul li a {
        font-size: 8px;
        color: #0A142F;
    }
}


@media (max-width: 700px) {
    .footer__telegram {
        margin-bottom: 40px;
        color: #000;
        text-align: center;
    }

    .footer__telegram-links {
        display: flex;
        margin-top: 20px;
        justify-content: space-between;
    }

    .footer__telegram-link img {
        width: 90px;
        height: 90px;
    }

    .footer__telegram-link {
        width: 90px;
        height: 90px;
        margin: 0 auto;
    }
}

@media (min-width: 700px) {
    .footer__telegram{
        color: #000;
    }
    .footer__telegram h2{
        margin-bottom: 60px;
    }
    .footer__telegram-links{
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
    }

    .footer__telegram-link{
        width: 350px;
        height: 350px;
        margin: 0 auto;
    }
    .footer__telegram-link img{
        width: 350px;
        height: 350px;
        margin: 0 auto;
    }
    .footer__contacts{
        font-size: 30px;
    }
}