{% load static %}

<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dunie</title>
    <!-- Подключение стилей Slick Slider CSS -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css'%}">
</head>

<body>
    <section class="intro">
        <div class="container">
            <h2>Международная группа компаний МБК Дуние и ООО Адам Адал Жол инвестиционно-коммерческое с
                благотворительным уклоном (в сокращенном названии звучит - Международная группа компаний Адам Адал Жол и
                МБК Дуние)</h2>
            <div class="intro__logos">
                <div class="intro__logo">
                    <div class="intro__logo-text">ЛОГОТИП МБК ДУНИЕ</div>
                    <div class="intro__logo-img">
                        <img src="{% static 'img/logo.png' %}" alt="">
                    </div>
                </div>
                <div class="intro__logo">
                    <div class="intro__logo-text">ЛОГОТИП Адам Адал Жол</div>
                    <div class="intro__logo-img">
                        <img src="{% static 'img/logo/logo_adam.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <header>
        <div class="container">
            <nav>
                <ul class="nav__left">
                    <li><button>ОПРЕДЕЛЕНИЕ</button></li>
                    <li><button>ЦЕЛИ И ЗАДАЧИ</button></li>
                    <li><button>ПРИНЦИПЫ И ЦЕННОСТИ</button></li>
                </ul>
                <ul class="nav__right">
                    <li><button>ПЛАНЫ</button></li>
                    <li><button>РЕЗУЛЬТАТЫ</button></li>
                    <li><button>КОНТАКТЫ</button></li>
                </ul>
            </nav>
            <div class="header__content">
                <!-- <div class="header__dunie-text" style="text-align: center;">
                    <img src="{% static 'img/dunie-text.svg' %}" alt="">
                </div> -->
                <h1>Первое позитивное планетарное движение</h1>

                <!-- <div class="header__banner">
                </div> -->
                <div class="header__text">

                    МБК «ДУНИЕ» является международной некоммерческой, членской, благотворительной организацией,
                    созданной на добровольном объединении граждан, физических и/или юридических лиц на ОСНОВЕ чистоты,
                    равенства, сохранности и защиты все вся всех всего, живых и не живых, всего человечества, животного
                    мира, экологического оздоровления жизни и планеты, Благо-творения, Благо-человечности,
                    Благо-человеческой семьи, Благо-живым и не живым, Благо-справедливости и всеобщего мира,
                    Благо-созидательности, содействия и осуществления взаимодействия человечества, граждан, народов,
                    населения, нации, всех государств и не государств, республик и не республик, монархии и не монархии,
                    религиозных и не религиозных, конфессий и не конфессий, государственных и не государственных,
                    сообществ, членств, организаций.
                    <br>
                    <br>

                    Деятельность МБК «ДУНИЕ» осуществляется на основе гражданских прав и демократических принципов
                    деятельности, обеспечивает уважение к человеческой личности и способствует достижению
                    взаимопонимания, сотрудничества и прочного мира между народами.
                    <br>
                    <br>
                    Чтобы сохранить всеобщее доверие, МБК «ДУНИЕ» не может принимать чью-либо сторону в вооруженных
                    конфликтах и вступать в споры политического, расового, религиозного или идеологического характера.
                    <br>
                    <br>
                    МБК «ДУНИЕ» способствует установлению прочного мира, который рассматривается не просто как
                    отсутствие войны, но как динамический процесс сотрудничества между всеми государствами и народами,
                    сотрудничества, основанного на уважении свободы, независимости, государственного суверенитета,
                    равенства, баланса и прав человека, а также на справедливом распределении ресурсов для
                    удовлетворения потребностей всего человечества.
                    <br>
                    <br>
                </div>
            </div>
        </div>
    </header>

    <main>
        <div class="small-container">
            <h2>Цели и задачи первого позитивного планетарного движения для все вся всех всего:</h2>
            <div class="goals__content slick-slider">
                <div class="goals__item">
                    <img src="{% static 'img/goals-element.png' %}" alt="">
                    <div class="goals__text">Гармонизация здоровья и благополучия человечества</div>
                </div>


                <div class="goals__item">
                    <img src="{% static 'img/goals-element2.png' %}" alt="">
                    <div class="goals__text">Жить. Разумно и в балансе, гармонии - наше послание человечеству</div>
                </div>



                <div class="goals__item">
                    <img src="{% static 'img/goals-element3.png' %}" alt="">
                    <div class="goals__text">Изменение здоровья человека и человечества на все 100% до полной нормы
                    </div>
                </div>


                <div class="goals__item">
                    <img src="{% static 'img/goals-element4.png' %}" alt="">
                    <div class="goals__text">Созидание для все, вся, всех и всего живого и неживого. Растительного и
                        животного мира</div>
                </div>
            </div>

        </div>
    </main>

    <section class="rules">
        <div class="container">
            <h2>
                Ключевые принципы и ценности
            </h2>
            <div class="rules__content">
                <div class="rules__content-image">
                </div>
                <div class="rules__content-text">
                    <div class="rules__content-item">
                        <h3 class="rules__text-title">Солидарность</h3>
                        <div class="rules__text-description">Мы верим в солидарность и взаимопомощь, в общую
                            ответственность перед будущим поколением и нашей планетой.</div>
                    </div>
                    <div class="rules__content-item">
                        <h3 class="rules__text-title">Справедливость</h3>
                        <div class="rules__text-description">Мы стремимся к созданию справедливого общества, где люди не
                            будут ограничены неравенством, дискриминацией и эксплуатацией.</div>
                    </div>
                    <div class="rules__content-item">
                        <h3 class="rules__text-title">Инновации</h3>
                        <div class="rules__text-description">Мы ищем новые идеи и решения, чтобы преобразовать системы и
                            процессы в более прорывные ноосферные, природоподобные, экологически устойчивые.</div>
                    </div>
                    <div class="rules__content-item">
                        <h3 class="rules__text-title">Исключим из жизни</h3>
                        <div class="rules__text-description">Боль, страх, искажения. Имеем решения как прекратить войны,
                            болезни, снять все долговое бремя кредитов по планете, как с государств, так и с человека.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="cvb">
        <div class="container">
            <h2>CVB</h2>
            <h3> «Converted Virtual Balance» или «Конвертируемый Виртуальный Баланс»</h3>
            <div class="look__content cvb__content">
                <div class="look__content-text">
                    <p>Что такое <span>CVB</span> и что он дает для всех всё вся всего, народа, человечества,
                        государства, бизнеса и Вас самих?</p>
                    <p><span>Во-первых</span>, это <span>программное обеспечение</span>, которое дает возможность
                        конвертировать любую валюту мира
                        без привязки к любой бирже, без привязки к любому кросс курсу, <span>без финансовых
                            потерь.</span> </p>
                    <p><span>Во-вторых</span>, это решение для всех секторов экономики и в жизни человека, в том числе
                        по любым транзакциям.</p>
                    <p><span>Что даст CVB:</span>
                    </p>
                    <p>Это <span>снижение финансовой зависимости</span> от внешних регуляторов, постепенный уход от
                        внешних финансовых влияний, выход из разных долговых ям и обязательств, как и у самого
                        государства, так и у человечества. </p>
                    <p>И еще - возможность иметь <span>низкие устойчивые цены на все товары и услуги</span> посредством
                        оплаты через систему CVB.</p>
                    <p><span>Внимание:</span></p>
                    <p>Мы получим <span>САМЫЕ низкие цены</span> на всё необходимое для жизни:  </p>
                    <p>Такие как - продукты питания, жилье, автомобили, одежду, коммунальные и другие любые услуги. </p>
                    <p>В каждом секторе экономики, где человек будет использовать для оплаты систему CVB - цена снизится
                        <span>от 50 до 80%. </span>
                    </p>
                
                    <p> <span>Оплата через CVB позволит снизить закредитованность всего населения.</span>
                     </p>
                     <p>   Используя продукт CVB для любых финансовых переводов, транзакций в системе CVB - вы
                        абсолютно защищены от любой возможности заблокировать или заморозить ваши средства, будь то
                        средства любого юридического лица или физического в любой стране мира. </p>
                        <p> Более никакой
                    кризис, конфликт и иное влияние политики на экономики - не затронет вас или ваши компании или
                    ваши проекты или ваши сделки.</p>

                </div>



                <div class="look__content-subtitle">
                   
                    Девиз продукта :
 
                    Нет больше финансовых границ!
                </div>

            </div>
        </div>
    </section>
    <section class="info cvb-business">
        <div class="container">
            <div class="info__content cvb-business__content">
                <div class="info__content-text cvb-business-text">
                    <h2>CVB для Вас и для Ваших юридических лиц:</h2>
                    <p>Сегодня наступил момент , когда в Ваши руки приходит решение на все Ваши финансовые вопросы.
                    </p>
                    <p>Например,
                        Через CVB бизнес может осуществлять любые сделки,  заключать любые контракты с кем угодно в
                        рамках закона, законодательств всех стран.
                    </p>
                    <p>Любое перечисление и перевод средств через CVB, будет проходить и поступать клиенту, также быстро
                        и безболезненно, как смс через любой мессенджер или чат.
                    </p>
                    <p>Для Вас должно быть ясно, открыто понятно, какую важную роль играет данная система.
                    </p>
                    <p>В любом государстве будет данное программное обеспечение, которое функционирует с участием
                        государства и только государство будет являться самым главным держателем всей системы CVB в
                        своей стране.
                    </p>
                    <p>Правообладателями CVB являются МБК Дуние и Группа компаний Адам Адал Жол.
                    </p>
                    <p>В случае работы государства в системе CVB, любому государству не надо закупать иную валюту для обеспечения сохранности собственной валюты, нет упадка экономики, нет обесценивания местных продуктов, товаров, услуг.
                    </p>
                    <p>CVB решает все эти задачи!</p>
                    <p>Вы решаете эти задачи - легко и спокойно - путем регистрации в системе через самый обычный ПК или мобильный телефон в самом обычном приложении, которое вы скачаете в App Store, Google play, Huawei AppGallery.</p>
                    <p>В нашем случае - никаких оплат за движение ваших денежных средств через наш конвертер - НЕТ!</p>
                </div>
            </div>
        </div>
    </section>
    <section class="cvb advantages_cvb">
        <div class="container">
            <h3 style="margin-bottom: 15px;">Данный текст - это превью о преимуществах и о выходе на рынок нового виртуального продукта, который дает решение и движение денег - без границ! </h3>
            <h2>Название: CVB <br> ( «Converted Virtual Balance») </h2>

            <div class="look__content">
                <div class="look__content-text">
                    <p>Форма : ИТ продукт, мобильное приложение под ПК и все типы гаджетов. </p>
                    <p>На русский язык название переводиться :  </p>
                    <p><span>Конвертируемый виртуальный баланс</span></p>
                    <p>Это фин сервис , видимо точнее можно назвать так : конвертер - для свободного движения денег по миру. 
                    </p>
                    <p><span>Параметры, характеристики, свойства и преимущества.</span></p>
                    <p><span>Обращаем внимание : ничего подобного в мире не существует!!!</span></p>
                    <p>Итак:</p>
                     <p>1. Без привязок к кросс курсам мировых валют. <br> <br>
                        2. Без валютного контроля. <br> <br>
                        3. Без привязки к мировым биржам. <br> <br>
                        4. Без блокировок. <br> <br>
                        5. Без заморозок. <br> <br>
                        6. ⁠Система для торговых сделок любого уровня и квалификации.<br> <br>
                        7. Для прохода любых сумм. <br> <br>
                        8. ⁠В любой валюте. <br> <br>
                        9. Из любой точки мира в любую точку мира. <br> <br>
                        10. ⁠Для юридических и физических лиц; без разницы. <br> <br>
                        11. Легкий в исполнении. Интуитивно понятный. Несколько уровневый : от простого, для рядовых бытовых вопросов до сложного, обслуживания крупных гос. корпораций и бизнесов в ручном режиме.  <br> <br>
                        12. Наши  топ менеджеры и/или генеральные директора и/или председатели правления будут готовы консультировать и осуществлять сделки непосредственно после ваших официальных письменных заявок на адрес нашей электронной почты: adamadalzhol@gmail.com ( в копию: 7928117@mail.ru).  <br> <br>
                        13. ⁠При принятии решения нашей организацией по вашим официальным обращениям, письмам в наш адрес, на первой встрече подписываем договоры (NDA и рамочный о сотрудничестве). Затем обсуждаем процесс и процедуры, далее вы получаете гарантированное решение и дорожную карту. При выходе системы CVB в сеть интернет - данный функционал заработает автоматически.<br> <br>
                        14. Вы можете двигать любые типы и классификации денежных средств, в том числе инвестиционные. <br> <br>
                        15. Конвертируемый виртуальный баланс - сокращенно на английском - CVB - является финансовым сервисом, однозначно не является: ни деньгами, ни платежной системой, ни криптой.<br> <br>
                        16. В данной системе Вы работаете только законно, так как в первую очередь CVB функционирует в сотрудничестве с каждым государством, а вы двигаете любые денежные средства и активы.<br> <br>
                        17. За транзакции конвертер ничего не берет. <br> <br>
                        18. ⁠Местоположение ПО - на гос серверах; technical support предоставляется уполномоченной компанией от своего государства. <br> <br>
                        19. CVB - это финансовый сервис. Он никак не влияет на юридические, экономические, политические и на любые другие действия для принятия решений покупателем и продавцом о составе, структуре и тп в сделках. CVB - конвертер в форме мобильного приложения. <br> <br>
                        20. Система CVB дает действие: проводить оплаты. При покупке абсолютно всех товаров в мире (от расчески до бензина и машины/квартиры/земли и ее недр, золота и космических кораблей), с гарантированным автоматическим дисконтом 50%.  <br><br>
                        21. При этом продавец получает 100% цены, а вот покупатель экономит 50%. Это существенное преимущество вы почувствуете на первом этапе развития проекта. С момента, как система CVB выйдет в сеть интернет, а весь проект войдет в следующую фазу развития, мы сможем предложить дисконтирование по ряду сделок до 80%.   <br><br>
                        22. Таким образом, на текущий момент в мире можно все купить за пол цены, проводя оплату через систему CVB.  <br><br>
                        23. Система CVB дает действие: проводить оплаты. При покупке абсолютно всех товаров в мире (от расчески до бензина и машины/квартиры/земли и ее недр, золота и космических кораблей), с гарантированным автоматическим дисконтом 50%.  <br><br>
                        24. Внимание: Это законно. При сотрудничестве с каждым государством, соответственно с его службами. Но ни одна существующая  государственная система, в том числе банковская, финансовая - не пострадает. Данный продукт к конфликтам - не приводит. <br><br>
                        25. Первый пример: с момента, как человек узнает информацию о CVB, о его преимуществах и возможностях, каждый сможет мгновенно принять решение и например улучшить свои жизненные условия, так как в этом случае с вашим бюджетом, без кредитов можно приобрести все, что стоит в 2 раза дороже.   <br><br>                      
                        26. Второй пример: необходимое для жизни человека можно оплатить в любой точке мира домашней валютой: еду, одежду, технику, крупную семейную поездку, налоги и любую услугу: медицина, образование, услуги ЖКХ, транспортно-логистические операции, юридически-консалтинговые и прочие.   <br><br>
                        27. Любой человек, у кого есть гаджет или ПК, пользующийся в любой ситуации и в любой стране мира; имеющий личный кабинет в любом удобном ему банке ( это онлайн сервис банка - например Сбербанк, ВТБ, Тинькофф и/или где он зарегистрирован, в любом банковском приложении ) - сможет свою местную валюту и иную валюту (рубли,  юани, евро и тд ) - в один клик перевести в систему CVB.  <br><br>
                        28. И по своему желанию, принимающая по системе CVB деньги сторона, (продавец) перемещает их в мобильное приложение банка, которым пользуется. CVB - банком не является.  <br><br>
                        29. Оплата при помощи системы CVB может производиться сразу на ваш указанный в сделке расчетный счет в любом банке.  <br><br>
                        30. У CVB нет ограничений ни по суммам на оплату, ни по объемам транзакций !!!   <br><br>
                        31. Наш финансовый сервис принимает из всех финансовых систем любую валюту мира и отправляет бесплатно туда, куда вы сами указали в своем телефоне, в своем личном кабинете.  <br><br>
                        32. Правообладатель - международная группа компаний Адам Адал Жол и МБК Дуние.  <br><br>
                        33. Действенные права на систему CVB у IT компании ООО Септриллион.  <br><br>
                        34. Весна 2024 - этап тестирования продукта и выход в интернет. <br><br>
                        35. Данный продукт несет баланс и разумность миру. <br><br>
                        36. Признанные и непризнанные территории и тп так же имеют доступ к системе.<br><br>
                    </p>
                    <p>Напомним : CVB - это ИТ приложение для компьютера и любого типа гаджетов - все смогут скачать бесплатно, на площадках:
                    </p>
                    <p>
                        <ul>
                        <li>- Google Play</li>
                        <li>- App Store</li>
                        <li>- Huawei AppGallery</li>
                        <li>- RuStore</li>
                        <li>- Samsumg Galaxy Store</li>
                        <li>- Xiaomi GetApps</li>
                    </ul>

                    </p>
                
                    <p> <span>Наш девиз:</span>
                     </p>
                     <p><span>Теперь мир без финансовых границ!</span></p>
                        <p></p>

                </div>




            </div>
        </div>
    </section>
    <section class="problems">
        <div class="container">
            <h2>Вызовы и преграды для позитивного планетарного движения:</h2>

            <div class="problems__items">
                <div class="problems__item">
                    <h3 class="problems__item-title">Инерция и страх</h3>
                    <div class="problems__item-description">Многие люди опасаются изменений, боятся неизвестности и
                        ближайшего будущего, поэтому сложно преодолеть инерцию и начать позитивное планетарное движение
                    </div>
                </div>
                <div class="problems__item">
                    <h3 class="problems__item-title">Гражданское общество</h3>
                    <div class="problems__item-description">Гражданское общество может оказывать влияние на власть,
                        вносить изменения своими локальными и международными действиями и привлекать внимание к
                        позитивному планетарному движению.</div>
                </div>
                <div class="problems__item">
                    <h3 class="problems__item-title">Сложности в масштабировании</h3>
                    <div class="problems__item-description">Идеи и проекты позитивного планетарного движения часто
                        сталкиваются с проблемой масштабирования. Нужно много потрудиться, чтобы достичь значительного
                        разумного воздействия</div>
                </div>
            </div>

            <h2>Роли и ответственность участников:</h2>

            <div class="problems__items">
                <div class="problems__item">
                    <h3 class="problems__item-title">Политики</h3>
                    <div class="problems__item-description">Ответственность политиков - разработка и реализация законов
                        и инициатив, способствующих позитивному движению и обеспечивающих права и благополучие всех
                        людей.
                    </div>
                </div>

                <div class="problems__item">
                    <h3 class="problems__item-title">Бизнес</h3>
                    <div class="problems__item-description">Бизнес может принимать ответственное поведение,
                        инвестировать в устойчивые и инновационные решения и помогать создавать равные возможности для
                        всех.</div>
                </div>
            </div>
        </div>
    </section>

    <section class="info second_info">
        <div class="container">
            <div class="info__content second_content">
                <div class="info__image second_image">
                    <img src="{% static 'img/info-banner22.png' %}" alt="">
                </div>
                <div class="info__content-text second_content-text spendings_content-text">
                    <div class="second__content-text-title">Ниже превью текста о втором ИТ продукте от нашей группы компаний - электронно-цифровая платформа над всеми платформами. 
                        Находиться в стадии разработки. Выполняется по заказу МБК Дуние. Этот продукт даст многое людям и всем странам, мировому бизнесу. 
                        Чуть позже расскажем о ее функционалах. </div>
                    <p>Пока можно заявить, что все доходы от работы платформы идут в строительство уникальных инновационных городов, где мир,
                        спокойствие , справедливость, любовь , труд по предназначению и оплата благами по труду, доступ
                        всем ко всем знаниям, те глубокое образование с малых лет без нагрузки, требований, искажений и
                        тп. Также доходы от работы платформы идут в создание в промышленных масштабах для всего
                        населения мира ноосферных, природоподобных, экологичных, прорывных и футуристических
                        производств, предметов, вещей бытового назначения, медицины и питания - вот абсолютно все иное,
                        работающее только во благо человека и его организма, а также организма растений и животного
                        мира. Что приведет к включению механизмов регенерации и самовосстановления, омоложения и баланса
                        как внутри, так и снаружи.</p>
                </div>
            </div>
        </div>

    </section>
    <section class="graphics">
        <img src="{% static 'img/graphics/room.jpg' %}" alt="">
    </section>

    <section class="info need">
        <div class="container">
            <div class="info__content">
                <div class="info__content-text need__content-text">

                    <p> Обычные люди на планете- физические лица, имеющие чистые деньги и живущие от зарплаты до заплаты
                        или
                        на незначительные доходы и дивиденды, Смогут использовать мобильное приложение CVB бесплатно и в своей национальной валюте; а платформа платформ даст возможность торговать и покупать и двигать товары и услуги и тп, с существенными дисконтами и многие  другие параметры мы откроем обществу несколько позже. Люди смогут использовать и мобильное приложение и платформу для своих нужд бытовых и служебных. Сможете использовать ПО для обычных бытовых вещей бесплатно и в своей национальной валюте</p>
                    <p> Они смогут использовать его для обычных бытовых вещей и покупок, как оплаты
                        транзакций за обучение, медицину, жкх и тд и тп, без учета курсов валют, бирж и конвертаций. Они
                        смогут использовать свою местную валюту, с которой они родились и живут сейчас!</p>
                    <p> Кажется фантастикой? Нет, это ближайшее будущее, которое вот-вот наступает. Мы только начали
                        двигаться
                        вперед и наше проявление скоро будет видно на планете!</p>
                    <p> Давайте не будем говорить о доверии и
                        справедливости, это отличные качества, но в делах надо трудиться сообща в одном направлении, без
                        лишних разговоров, а не только для себя, отнимая хоть что-то у других. И делом доказать свою
                        приверженность к этим смыслам, целям и задачам.</p>
                    <p>Позитивное планетарное движение отличается от всех
                        других движений в мире - оно действительно и первое, и позитивное, и планетарное, без каких-либо
                        вступительных взносов, выплат, оплат, обременений, деградаций и разрушений. Это общественное
                        движение, в политику мы не идем!</p>
                    <p class="need__content-subtitle"><span>Движение нужно человечеству!</span></p>
                </div>
            </div>
        </div>
        <div class="info__image">
            <img src="{% static 'img/need.png' %}" alt="">
        </div>
    </section>

    <section class="rules newcities">
        <div class="container">
            <h2 class="newcities__title">
                В городах переходных и инновационных
            </h2>
            <div class="rules__content newcities__content">
                <div class="rules__content-image newcities-image">
                </div>
                <div class="rules__content-text newcities__content-text">

                    <p> Мы дадим возможность разгрузить родителей так, что б у них было время побыть друг с другом, при
                        этом
                        любить, знать, видеть, воспитывать всех своих детей.</p>
                    <p>Конечно заботиться о взрослом поколении,
                        которые расцветут в этих городах. Подобные фантастические заявления конечно же могут быть
                        выполнены
                        лишь за счет прорывных природоподобных технологий при ноосферном мышлении с использованием всех
                        изобретений, разработок и технологий на планете во благо человечества и самой планеты Земля</p>
                    <p class="newcities__content-subtitle">Она наш общий дом!</p>
                </div>
            </div>
        </div>
    </section>

    <section class="knowcansay">
        <div class="container">
            <div class="knowcansay__content">
                <h2>Я ЗНАЮ, МОГУ, СКАЖУ - Если решил и готов, то сделаю для себя и для Человечества.</h2>
            </div>
        </div>
    </section>

    <section class="info second_info onlyyou ">
        <div class="container">
            <div class="info__image second_image">
                <img src="{% static 'img/onlyyou.png' %}" alt="">
            </div>
            <div class="info__content onlyyou__content second_content">
                <div class="info__content-text onlyyou__content-text ">
                    Только ТЫ это МОЖЕШЬ, От ТЕБЯ это зависит Только ТВОИ решения и поступки во всем приведут как поется
                    в песне - к погоде в доме или ее отсутствию при твоем бездействии.
                </div>
            </div>
        </div>

    </section>

    <section class="press">
        <div class="container">
            <h2>Пресс служба</h2>

            <div class="press__text">
                <p>Люди принесут информацию людям при любом раскладе. Я готова от имени всей команды и группы наших
                    компаний сообщить информацию о том, что у нас есть Решение по каждой ситуации на планете.</p>
                <p>- Как это понять? <br>
                    - Задавайте вопросы - ответы есть!</p>
                <p>А пока не ждите ответа, раз не задали вопрос, но хотя бы
                    двигайтесь по своему предназначению. На сегодня мы особо можем пригодиться юридическим лицам в любом
                    секторе
                    экономики, при этом обычные люди, то есть физические лица, узнав, поняв, попробуют наш продукт CVB и примут решение
                    сами, нужны мы им или нет.
                    Сарафанное радио не отменить.</p>
            </div>
        </div>
    </section>
    <section class="info global">
        <div class="container">
            <div class="info__content second_content global_content">
                <div class="info__image second_image global_image">
                    <img src="{% static 'img/info-banner.png' %}" alt="">
                </div>
                <div class="info__content-text second_content-text global_content-text">
                   <p class="global-title">
                    Позитивное планетарное движение Дуние и ЖИВАЯ дорожная карта
                   </p>
                   <p>
                    Движение и дорожная карта проявлены юридическими лицами с единым уставом в рамках которого ведется вся деятельность по всей планете. Наши компании: МБК Дуние и ООО Адам Адал Жол представлены в Российской Федерации, Кыргызстане, Казахстане, Канаде, Индии, Турции. На данный момент идет процесс регистрации и выстраивания отношений в более чем 90 стран мира и в течении полугода наша группа компаний проявится во всех странах мира.
                    <br>Наша группа компаний трудится во благо человечества, в том числе мы занимаемся образовательной, воспитательной и медицинской деятельностью, социальными и строительными программами. Группа компаний является заказчиком разнообразных программных продуктов. В том числе CVB выходит на рынок; платформа платформ на очереди. Затем будут и другие программные продукты.
                   </p>
                </div>
            </div>
        </div>
    </section>
    <section class="knowcansay nopolitics">
        <div class="container">
            <div class="knowcansay__content nopolitics__content video__content">
                <h2 style="margin-bottom: 20px;"><span>Видеоотчеты о трудах Пресс службы и членов команды. </span></h2>
                <p>Мы рады познакомиться с вами!</p>
                <p>Мы намерены отражать действия нашей команды по формуле: </p>
                <p>Что говорю, то и делаю. </p>
                <p>На принципах:</p>
                <p>Уважения и взаимопонимания. </p>
                <p>Мы живем с готовностью принимать знания и с полной ответственностью предоставлять знания и понимания
                    о мире и о том, что и как устроено.</p>
                <p>Видео ниже :</p>
                <iframe class="iframe" src="https://www.youtube.com/embed/nyIJ25wXCDU?si=5wQ1CvAMmBVXH0FX" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </div>
        </div>
    </section>
    <section class="knowcansay phrase">
        <div class="container">
            <div class="knowcansay__content">
                <h2>Девиз международной группы компаний Адам Адал Жол и МБК Дуние прост: <br><span>Мы несем Чистоту. Говорим правду. И в наших делах правдивость.</span></h2>
            </div>
        </div>
    </section>
    <section class="info second_info whoami">
        <div class="container">
            <div class="info__content second_content">
                <div class="info__image second_image whoami_image">
                    <img src="{% static 'img/info-banner.png' %}" alt="">
                </div>
                <div class="info__content-text second_content-text whoami_content-text">
                    <p>Трудиться во благо человека и человечества- такая философия нашей группы компаний.<br>  У меня нет прав оценивать кто прав, кто виноват, кто зло, кто добро. Нет
                        ни зла, ни добра, ни плохого, ни хорошего, есть все мы, сознание всех. Это и есть ЖИВАЯ дорожная
                        карта. Я действую по своему предназначению. Донесу инфо до каждого из вас и примет решение для
                        себя каждый человек во всем.<br> <br>Нельзя отнять у цветка его рост. Нельзя отнять у информации
                        ее
                        движения.
                        <br>
                        Кто владеет информацией, тот владеет миром. Мы хотим передать знания по каждой тематике жизни человека в социуме - бесплатно, в полном объеме для всех людей, без разделения. Мы поэтому и заявляем - несем решения по каждой ситуации на планете Земля и хотим исключить из жизни всех: войны, беды, страхи, мучения, унижения, негатив, закредитованность, голод, аборты, насилие, неравноправие, рабство.
Прямо сейчас мы создаем информационное поле для выхода нашего проекта и продуктов в свет: в пространство интернета, в общую социальную жизнь и в применимость всеми  людьми всех странах мира. 
Мы рады, что родились в нашей стране, смогли разобраться  в том, что и как устроено в мире, приняли знания и теперь несем их в мир и что Россия может стать локомотивом всему движению на планете. Только включайтесь пожалуйста активно, старайтесь дочитать до конца информацию и на этом сайте и в наших рубриках в журнале Регионы России и везде, где встретите информацию о ЖИВОЙ дорожной карте. Не упускайте ваш шанс быть в авангарде таких замечательных и новейших событий, резко и существенно изменяющие все для все вся всех всего.<br><br>
Партнер и GR международной группы компаний Адам Адал Жол и МБК Дуние; генеральный директор и бенефициар ООО Септриллион - IT разработчик, компания, эксклюзивно выполняющая все ИТ заказы ООО Адам Адал Жол инвестиционно-коммерческое с благотворительным уклоном <br>
                        <br><a href="https://telegra.ph/O-Levshinoj-Svetlane-Nikolaevne-11-08"
                            style="color: #Fff; text-decoration: underline;">Светлана Николаевна Левшина</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="graphics">
        <img src="{% static 'img/graphics/woman.jpg' %}" alt="">
    </section>
    <section class="look thanks">
        <div class="container">
            <h2>Философия и История развития
                ЖИВОЙ дорожной карты, проявленная
                Группой компаний Адам Адал Жол и МБК Дуние </h2>
            <div class="look__content thanks__content">
                <div class="look__content-text thanks__content-text">

                    <p>Будет записана в этом блоке по мере обновлений нашего сайта. </p>
                    <p>Мы благодарим наших
                        Пайщиков, учредителей и аффелированные компании к Группе компаний </p>
                    <p>за их максимальное сотрудничество с нашим проектом во имя всего человечества.

                    </p>
                    <p><span>Благодарим: </span></p>
                    <p>1. МПК Универсум
                    <p>2. ООО Септриллион</p>
                    <p>3. Международную неправительственную организацию в форме Ассоциация - Международное агентство общественной безопасности (AIAPS)<br>
                    INTERNATIONAL AGENCY OF PUBLIC SECURITY </p>
                </div>
            </div>
    </section>
    <section class="cvb advantages_cvb">
        <div class="container">
            <h2>Обратите пожалуйста внимание на структуру нашей группы! </h2>
            <h3>Итак, в каждой стране мира мы открываем 2 компании: </h3>
            <div class="look__content">
                <div class="look__content-text">
                    <p>Основная суть деятельности всей группы заложена в Уставе МБК Дуние. Данный устав переводиться дословно на официальный язык той страны, где идет очередная регистрация, таким образом наша деятельность по миру регламентирована нашим уставом и мы делаем именно то, что в нем указано. 
                        Это принципиальная позиция нашей международной группы компаний. </p>
                    <p><span>МБК Дуние</span> отвечает за основное направление деятельности, является не коммерческим предприятием. </p>
                    <p><span>ООО «Адам Адал Жол инвестиционно-коммерческое с благотворительным уклоном»</span> несет на себе коммерческую составляющую всего проекта. </p>
                    <p>Весь проект называется :  
                    </p>
                    <p><span>ЖИВАЯ дорожная карта, </span></p>
                    <p>куда составляющей частью входит </p>
                    <p><span>Позитивное планетарное движение Дуние.</span></p>
                    <p>Обратите пожалуйста внимание на то, что у нашей группы компаний нет в нашем развитии  вектора вести благотворительную деятельность, но мы трудимся именно с благотворительным уклоном.</p>
                    <p><span>Что это обозначает: </span></p>
                    <p>Глубокую социальную деятельность и благотворительную помощь для людей и народов во всех секторах бытовой части жизни любого человека по всему миру. 
                    </p>
                
                    <p>По заказу международной группы компаний Адам Адал Жол и МБК Дуние многопрофильная компания ООО Септриллион, являющаяся в тч и IT компанией, выполняет ряд задач, проводит мероприятия, выпускает разноообразный программный продукт. Весной 2024 года на выходе в сеть интернета система CVB. У компании ООО Септриллион действенные права на CVB.
                     </p>
                     <p>Ассоциация «Международное агентство общественной безопасности» (AIAPS), ООН, Щвейцария является партнером в области юридически-правовой деятельности нашей группы</p>
                        <p>Многие компании являются пайщиками МБК Дуние, список является конфиденциальным и поэтому раскрытие данных возможно лишь по личному поручению владельцев компании</p>

                </div>



                <div class="look__content-subtitle">
                    С уважением, 
                    команда ЖИВОЙ дорожной карты. <br><br>
 
                    Москва, февраль 2024
                </div>

            </div>
        </div>
    </section>

    <section class="future look">
        <div class="container">
            <div class="future__content look__content">
                <div class="future__text">
                    <div class="future__text-title look__content-text">
                        <h2>Будущее позитивного планетарного движения</h2>
                    </div>
                    <br>

                    <p> Сегодняшнее и будущее дома нашего, общего корабля - планета Земля - зависит
                        лишь от всех нас, те от Человека и Человечества!</p>



                    <p>Какой у нас Образ будущего ?</p>



                    Позитивное планетарное движение в рамках ЖИВОЙ дорожной карты дает решения для абсолютно всех
                    вопросов , ситуаций на планете Земля , как бы это фантастично не звучало, но это именно так.
                    Заявление пресс службы всегда принимается ко вниманию.
                    А мы трудимся по своему желанию и решению с душой - для все вся всех всего и согласно только нашего
                    Устава, зарегистрированного единым текстом по всем государствам планеты.
                    <br>
                    <br>

                    Думай только сам! Спроси сам! Узнай сам! Реши сам! Как ты хочешь тут жить.
                    <br>
                    <br>

                    Человек знай, что созидание + технологии = ЖИЗНЬ Человека в общем доме и в нашем
                    космическом корабле под именем планета Земля!
                </div>

            </div>

        </div>

    </section>

    <footer>
        <div class="container">


            <div class="footer__form">
                <div class="form__text">Подписаться на <span>рассылку</span></div>
                <div class="form__form">
                    <form action="">
                        <input type="text" placeholder="Введите вашу почту">
                        <button type="submit">Подписаться</button>
                    </form>
                </div>
            </div>
            <div class="footer__telegram">
                <h2>Подписывайтесь на наши телеграм каналы чтобы получать больше информации</h2>

                <div class="footer__telegram-links">
                    <div class="footer__telegram-link">
                        <a href="https://t.me/pozitiv_dunie"><img src="{% static 'img/qr/qr1.png' %}" alt=""></a>
                    </div>
                    <div class="footer__telegram-link">
                        <a href="https://t.me/Image_of_the_future_5_6"><img src="{% static 'img/qr/qr2.png' %}"
                                alt=""></a>
                    </div>
                </div>
            </div>
            <div class="footer__contacts">

                <div class="footer__left">
                    <ul>
                        <li><a href="tel:+79098888209">Колл-центр: +7 909 888 82 09</a></li>
                        <li><a href="https://ibcdunie.com">Сайт Dunie ( ibcdunie.com )</a></li>
                        <li><a href="https://t.me/conso27">Telegram</a></li>
                        <li><a href="https://dzen.ru/id/65d73d810feeaa2ff60f0260?utm_referrer=telegra.ph">Яндекс дзен</a></li>
                        <li><a href="https://vc.ru/u/2959417-press-sluzhba-mbk-dunie">VC.ru</a></li>
                        <li><a href="https://mbkdunie.livejournal.com/profile/">LiveJournal</a></li>
                        <li><a href="https://vk.com/dunie">ВК</a></li>
                        <li><a href="https://www.youtube.com/@Dunie-2024">YouTube канал</a></li>
                        <li><a href="mailto:adamadalzhol@gmail.com">Email adamadalzhol@gmail.com</a></li>
                        <li><a href="mailto:7928117@mail.ru">Email  7928117@mail.ru</a></li>
                        <li><a href="">Сайт CVB.center (в разработке)</a></li>

                    </ul>
                </div>

            </div>

            <div class="footer__bottom">
                <div class="footer__copyright"><a
                        href="https://telegra.ph/USTAV-Mezhdunarodnyj-Blago---KOOP-DUNIE-11-06">Юридическая
                        информация</a></div>
                <div class="footer__copyright"><a href="https://rrmag.ru/" style="color: #0000EE;">Мы в журнале Регионы России</a></div>
                <div class="footer__policy">
                    <ul>
                        <li>2023 ДУНИЕ. Все права защищены</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <section class="graphics">
            <img src="{% static 'img/bye.jpg' %}" alt="" style="height: auto; margin-bottom: 25px">
            <div class="container" style="text-align: center;">
                
                <h2 style="color: #000;">До новых встреч!</h2>
            </div>

        </section>
        .
    </footer>


    <!-- Подключение скрипта Slick Slider JavaScript -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>



    <script>
        $(document).ready(function () {
            if ($(window).width() < 500) { // Проверка ширины экрана для мобильных устройств
                $('.goals__content.slick-slider').slick({
                    slidesToShow: 1, // Количество отображаемых слайдов
                    slidesToScroll: 1, // Количество прокручиваемых слайдов
                    autoplay: true, // Автоматическая прокрутка
                    autoplaySpeed: 3000 // Скорость автоматической прокрутки в миллисекундах
                    // Другие настройки слайдера можно добавить по необходимости
                });
            }
        });
    </script>


</body>

</html>